@import "tailwindcss";

@theme {
  --color-navy: #2F4156;
  --color-teal: #567C8D;
  --color-sky-blue: #C8D9E6;
  --color-beige: #F5EFEB;
  --color-white: #FFFFFF;

  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --mouse-x: 50%;
  --mouse-y: 50%;
}
